.container{
	border-radius: 5px;
	background-color: lightgrey;
	padding: 20px;
}

input[type=text], textarea{
	width: 100%;
	padding-bottom: 30px;
	margin-bottom: 20px;
	box-sizing: border-box;
	resize: vertical;

}

h1 {
	text-align: center;
}

button, input[type=submit]{
	background-color: lightblue;
	border-radius: 4px;
	margin-top: 20px;
	padding: 5px;
	font-size: 12px;

}