ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
}

li {
	float: right;
	display: inline;
	padding: 5px;
}

.container{
	border-radius: 5px;
	background-color: lightgrey;
	padding: 20px;
}

input[type=text], textarea{
	width: 100%;
	padding-bottom: 30px;
	margin-bottom: 20px;
	box-sizing: border-box;
	resize: vertical;

}

h1 {
	text-align: center;
	margin-top: 30px;
}

button, input[type=submit]{
	background-color: lightblue;
	border-radius: 4px;
	margin-top: 20px;
	padding: 5px;
	font-size: 12px;

}